.header {
    font-size: var(--fontsize-l);
    line-height: 30px;
}

.marginBetweenHeader {
    margin-top: 32px;
}

@media (max-width: 448px) {
    .header {
        font-size: var(--fontsize-m);
    }
}
